.navbar {
    position: sticky;
    top: 0 ;
    right: 0 ;
    left: 0 ;
    background-color: #060217 ;
    display: flex;
    align-items: stretch;
    height: 70px; 
    padding-left: 40px ; 
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s ease-out;
    overflow: hidden;
}

.navbar-home {
    box-shadow: none;
    background: transparent;
    position: absolute;
    top: 10px ;
}
