.navbar {
    position: sticky;
    top: 0 ;
    right: 0 ;
    left: 0 ;
    background-color: #060217 ;
    display: flex;
    align-items: stretch;
    height: 70px; 
    padding-left: 40px ; 
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s ease-out;
    overflow: hidden;
}

.navbar-home {
    box-shadow: none;
    background: transparent;
    position: absolute;
    top: 10px ;
}


.link {
    color : white ;
    display: flex ;
    align-items: center;
    padding: 0 20px ;
    cursor: pointer;
    font-weight: 500 ;
    font-size: 17px ;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    bottom: 0 ;
    left: 50% ;
    background-color: white ;
    height: 2px ;
    width: 90% ;
    transform:translateX(-50%) scaleX(0) ;
    transform-origin: right;
    transition: transform .3s ease-out;
}
.link:hover::after {
    transform:translateX(-50%) scaleX(1) ;
    transform-origin: left;
}